:root{
    /* background-color:black; */
    /* color:whitesmoke; */
   margin:0;
}

@media only screen and (max-width: 600px) {

#rightSide, #header{
    padding-right: 2%;
}

#taskMenu, #description{
    margin-right: 2rem;
}

#addProjectBtn{
    margin-right: 1rem;
}

}

body{
    margin:0;
    padding:0;
}


h1{
    font-size: 2.2rem;
}

h2{
    font-size: 2rem;

}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.3rem;
}


.taskName, .projectName, .projectsTitle, .tasksTitle, .tasksSubtitle, .projectName, {

    padding: 1rem;
    margin:0;


}

#theme{
    height:2rem;
    width:2rem;
    /* background-color:white; */
    margin-right: 1rem;
    margin-left:1rem;

}

#theme{
    filter: brightness(0) invert(1) grayscale(1);
}
/* .darkThemeImg{
    filter: brightness(0) invert(1) grayscale(1);
}

.lightThemeImg{
    filter: brightness(0) invert(0) grayscale(1);
} */

#leftNav{
    display:flex;
    align-items: center;
}
#menuSvg{
    margin-right: 4px;
}

#rightNav{
    display:flex;
    align-items: center;
}

.projectsTitle{
    display:flex;
    align-items: center;
  
}

.projectsTitle svg{
    padding-left: 1rem;
    padding-right: 1rem;
}

.project svg{
    padding-right: 1rem
}

.tasksTitle{
    padding-left: 1rem;
}

.projectName{
    
}

.projectsTitle, .tasksTitle{
    padding-top:1rem;
    padding-bottom: 2rem;
}

.taskSubtitle{
    padding-top:1rem;
    padding:1rem;

}



.container{
display:grid;
grid-template-columns: 1fr 3fr;
}

#header{
    grid-column: 1/3;
display:flex;
justify-content: space-between;
padding-left: 1rem;
padding-right: 2rem;

}

#addProjectBtn{
    background-color: transparent;
    /* color:whitesmoke; */
    border: none;
    font-size: 1rem;

    /* padding-left: 2rem ; */

}

#addProjectBtn2{
    padding-left: 2rem;
}
/* left Side */

#leftSide{
    /* background-color: #111827; */
}

.svgImg{
    width:2rem;
    height:2rem;

}

.project{
    display:flex;
    align-items: center;
}

.project:hover{
   background-color: gray;
}

.selectedProject{
    background-color: gray;
}




/* right side  */
#rightSide{
/* background-color: #1f2937; */
height:90vh;
}

.task, .project{
    display:flex;
    padding-left: 1rem;
}

.footer a{
    color:white;

}

#description{
    margin-left: 1rem;
}

.completed{

    text-decoration: line-through;
    filter:brightness(50%)
}

.controlBtns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addTask{
    color:green
}

.removeProject{
    color:crimson;
}


.addTask:hover, .removeProject:hover, #addProjectBtn:hover, #addProjectBtn2:hover, #theme{

    cursor:pointer;
    color:goldenrod;
    /* font-size: 2.2rem; */
    transition: transform 0.3s;
    transform: scale(1.20);
    text-shadow: 2px 2px 4px rgba(253, 252, 252, 0.5);

}

#addProjectBtn:hover{
    /* color:white; */
    color:goldenrod;
}

.addTask, .removeProject{
    /* margin:1rem; */
    /* padding:1rem; */
    
}

/* dialog */

#projectDialog{
    width:80%;
    min-height: 15%;
    font-size: 1rem;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#projectDialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */
.footer img{
    height:2rem;
    width:2rem;
}




.githublogo{
    height:2rem;
    width:2rem;
    /* background-color: white; */
    border-radius: 50%;
  
}

.footer{
    display:flex;
    align-items:center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: black;
   
}
.delSvg{

}

.task{
    display: grid;
    grid-template-columns: 0.5fr 5fr 1fr;
    align-content: center;
    align-items:center ;
}

.checkbox{
    height:40%;
    width:40%;
}


.footer a{
    margin-top:10px;
    text-decoration: none ;

    display:flex;
    align-items:center;
    }

.footer a:hover{
    color: #d2d441;
}

/* Themes */

.lightTheme1{
    color:black;
    background-color: #c1c0b9;
}

.lightTheme2{
    color:black;
    background-color: #e7e6e1;
}

.lightTheme3{
    color:black;
    background-color:whitesmoke
}


.darkTheme1{
  background-color:   #111827;
  color:whitesmoke;

}

.darkTheme2{
    background-color: #1f2937;
    color:whitesmoke


}

.darkTheme3{

}

#header{
    
    background-color: black;
    color:white;
}

#addProjectBtn{
    color:white;
}


