:root{
    background-color:black;
    color:whitesmoke;
   margin:0;
}
body{
    margin:0;
    padding:0;
}


h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.5rem;

}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}


.taskName, .projectName, .projectsTitle, .tasksTitle, .tasksSubtitle, .projectName{

    padding: 1rem;
    margin:0;


}

.projectName{
    /* background-color: red; */
}

.projectsTitle, .tasksTitle{
    padding-top:1rem;
    padding-bottom: 3rem;
}

.taskSubtitle{
    padding-top:1rem;
    padding:2rem;

}



#container{
display:grid;
grid-template-columns: 1fr 3fr;
}

/* left Side */

#leftSide{
    background-color: #111827;
}



/* right side  */
#rightSide{
background-color: #1f2937;
height:90vh;
}

.task{
    display:flex;
    padding-left: 1rem;
}

.footer a{
    color:white;

}

.footer img{
    height:2rem;
    width:2rem;
}

.githublogo{
    height:2rem;
    width:2rem;
    /* background-color: white; */
    border-radius: 50%;
  
}

.footer{
    display:flex;
    align-items:center;
    align-content: center;
    justify-content: center;
    text-align: center;
   
}

.footer a{
    margin-top:10px;
    text-decoration: none ;

    display:flex;
    align-items:center;
    }

.footer a:hover{
    color: #d2d441;
}
